.recetas{
    background: #DAB997B2;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0 0 3rem;
    justify-content: center;
}

@media screen and (max-width: 767px){
    .recetas{
        padding: 2rem 0 0 2rem;
    }
}